###### 读取数据

In [15]:
football = pd.read_csv('./data/AsiaFootball.txt', header=None)
football

         0   1   2   3
0       中国  50  50   9
1       日本  28   9   4
2       韩国  17  15   3
3       伊朗  25  40   5
4       沙特  28  40   2
5      伊拉克  50  50   1
6      卡塔尔  50  40   9
7      阿联酋  50  40   9
8   乌兹别克斯坦  40  40   5
9       泰国  50  50   9
10      越南  50  50   5
11      阿曼  50  50   9
12      巴林  40  40   9
13      朝鲜  40  32  17
14      印尼  50  50   9

###### 列名修改为："国家","2006世界杯","2010世界杯","2007亚洲杯"

In [2]:
football.columns = ["国家","2006世界杯","2010世界杯","2007亚洲杯"]
football.head(2)

   国家  2006世界杯  2010世界杯  2007亚洲杯
0  中国       50       50        9
1  日本       28        9        4

###### 使用K-Means进行数据处理，对亚洲球队进行分组，分三个梯队

In [3]:
data = football.iloc[:, 1:].copy()
data

    2006世界杯  2010世界杯  2007亚洲杯
0        50       50        9
1        28        9        4
2        17       15        3
3        25       40        5
4        28       40        2
5        50       50        1
6        50       40        9
7        50       40        9
8        40       40        5
9        50       50        9
10       50       50        5
11       50       50        9
12       40       40        9
13       40       32       17
14       50       50        9

In [4]:
# 聚类 ，分成3组
kmeans = KMeans(n_clusters=3)
kmeans.fit(data)

F:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1334: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=3)

In [14]:
football

        国家  2006世界杯  2010世界杯  2007亚洲杯
0       中国       50       50        9
1       日本       28        9        4
2       韩国       17       15        3
3       伊朗       25       40        5
4       沙特       28       40        2
5      伊拉克       50       50        1
6      卡塔尔       50       40        9
7      阿联酋       50       40        9
8   乌兹别克斯坦       40       40        5
9       泰国       50       50        9
10      越南       50       50        5
11      阿曼       50       50        9
12      巴林       40       40        9
13      朝鲜       40       32       17
14      印尼       50       50        9

In [5]:
# 每个国家对应的分组编号
labels = kmeans.labels_
labels

array([1, 2, 2, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1])

In [6]:
# 所有的国家名字
country =  football.国家.values
country

array(['中国', '日本', '韩国', '伊朗', '沙特', '伊拉克', '卡塔尔', '阿联酋', '乌兹别克斯坦', '泰国',
       '越南', '阿曼', '巴林', '朝鲜', '印尼'], dtype=object)

###### 循环打印输出分组后的球队

In [12]:
for i in range(3):
    display(country[labels == i])

array(['伊朗', '沙特', '乌兹别克斯坦', '巴林', '朝鲜'], dtype=object)

array(['中国', '伊拉克', '卡塔尔', '阿联酋', '泰国', '越南', '阿曼', '印尼'], dtype=object)

array(['日本', '韩国'], dtype=object)

- 很明显根据历史战绩可以分成以下三个梯队
    - 第一梯队：日本，韩国
    - 第二梯队：伊朗，沙特乌兹别克斯坦，巴林，朝鲜
    - 三梯队：中国，伊拉克， 卡塔尔，阿联酋，泰国，越南，阿曼，印尼