### 练习: 预测性别（得分可能低）
读取adults.txt文件，并使用逻辑斯蒂回归算法训练模型，根据种族race、职业occupation、工作时长hours_per_week来预测一个人的性别

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
adults = pd.read_csv('adults.txt')

In [3]:
adults.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# 种族race、职业occupation、工作时长hours_per_week
data = adults[['race', 'occupation', 'hours_per_week']].copy()
target= adults['sex'].copy()

In [5]:
data.head()

    race         occupation  hours_per_week
0  White       Adm-clerical              40
1  White    Exec-managerial              13
2  White  Handlers-cleaners              40
3  Black  Handlers-cleaners              40
4  Black     Prof-specialty              40

#### 将string/object类型转换成数字: 0,1,2,3,4

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   race            32561 non-null  object
 1   occupation      32561 non-null  object
 2   hours_per_week  32561 non-null  int64
dtypes: int64(1), object(2)
memory usage: 763.3+ KB

In [7]:
data['race'] = data['race'].factorize()[0]
data['occupation'] = data['occupation'].factorize()[0]

In [8]:
data

       race  occupation  hours_per_week
0         0           0              40
1         0           1              13
2         0           2              40
3         1           2              40
4         1           3              40
...     ...         ...             ...
32556     0          10              38
32557     0           9              40
32558     0           0              40
32559     0           0              20
32560     0           1              40

[32561 rows x 3 columns]

#### 划分数据集

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2)

####  逻辑斯蒂回归分析

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [13]:
lr = LogisticRegression()
param_grid = {
    'C' : [0.1, 1.0, 10],
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
    'max_iter': [100, 1000, 2000]
}

gv = GridSearchCV(lr, param_grid, n_jobs=4, cv=5)

In [14]:
gv.fit(data, target)

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=4,
             param_grid={'C': [0.1, 1.0, 10], 'max_iter': [100, 1000, 2000],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag',
                                    'saga']})

In [15]:
# 最佳参数
gv.best_params_

{'C': 0.1, 'max_iter': 100, 'solver': 'sag'}

In [16]:
# 最佳得分
gv.best_score_

0.6828107534694362

In [18]:
# 最佳模型
best_lr = gv.best_estimator_

In [20]:
# 预测
y_pred = best_lr.predict(x_test)

In [21]:
# 得分
best_lr.score(x_test, y_test)

0.6881621372639337

#### 交叉表展示预测结果

In [22]:
pd.crosstab(
    index=y_pred, 
    columns=y_test,
    rownames=['预测'],
    colnames=['真实'],
    margins=True
)

真实      Female  Male   All
预测
Female     379   300   679
Male      1731  4103  5834
All       2110  4403  6513

 - 基本预测为男性